streamlit
pandas
sqlalchemy
plotly
watchdog
openpyxl
#Backend
fastapi==0.104.1
uvicorn==0.24.0
asyncpg==0.29.0
python-multipart==0.0.6
celery==5.3.4
redis==5.0.1
sendgrid==6.10.0
python-decouple==3.8
pydantic==2.5.0
alembic==1.13.0
apscheduler==3.10.4
requests==2.31.0
